{% extends 'base.html' %}

{% block content %}
  <h1>Temperature list</h1>
  <div class="ui info message">
    <div class="header">
      Info
    </div>
    <p>
      The temperature list will be updated every 10 seconds.
    </p>
    <p>
      Click Refresh to see updates
    </p>
    <a href="{% url 'temperature_list' %}">
      <button class="ui primary button">
        <i class="undo icon"></i>
        Refresh
      </button>
    </a>
  </div>
  <table class='ui celled table' style="table-layout: fixed;">
    <thead>
      <tr>
        <th>Location</th>
        <th>Value</th>
        <th>Last Modified</th>
      </tr>
    </thead>
    <tbody>
      {% for temperature in object_list %}
        <tr>
          <td>{{ temperature.location }}</td>
          <td>{{ temperature.value }}</td>
          <td>{{ temperature.detail_updated_at }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}